In [1]:
#Question 1
a = 0
def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

b()
b()
b()
a

6

In [ ]:
#What value is displayed when the last expression (a) is evaluated? Explain your 
#answer by indicating what happens in every executed statement
a = 6
First we set the variable a = 0.
Then we call function b() and inside it we declare the variable a as global and this means that 
this variable can be accessed by inside or outside of a function. 
We now set the value of a = c(a). 
Now the function c() is called in this case where it adds 2 to the current value of a.

When we run the function calls, this is what it looks like:
b() 
    global a = 0
    a = c(a) ---> c() = a + 2; 0 + 2 = 2 (a is 0 here)
    a = 2 (global variable) --- this saves the current value of a each time b function is called because
                                it is a global variable
b() = 2

-------------------------------------------------------------
b() 
    global a = 2
    a = c(a) ---> c() = a + 2; 2 + 2 = 4 (a is 2 here)
    a = 4 (global variable)
b() = 4

-------------------------------------------------------------
b() 
    global a = 4
    a = c(a) ---> c() = a + 2; 4 + 2 = 4 (a is 4 here)
    a = 6 (global variable)
b() = 6

In [2]:
#Question 2
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print ('File {} not found'.format(file_name))
    
file_length('words.txt')
file_length('word.txt')

5345
File word.txt not found

In [3]:
#Question 3
class Marsupial:
    def __init__(self):
        self.q = []
    def put_in_pouch(self, item):
        self.q.append(item)
    def pouch_contents(self):
        return self.q

In [4]:
m  = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    
    def __init__(self, xcoord=0, ycoord=0):
        self.q = []
        self.x = xcoord
        self.y = ycoord
        
    def setx(self, xcoord):
        self.x = xcoord
        
    def sety(self, ycoord):
        self.y = ycoord
        
    def get(self):
        return(self.x, self.y)
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates (' + str(self.x) + ',' + str(self.y) + ')'

In [6]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)

['doll', 'firetruck', 'kitten']

In [7]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [8]:
#Question 4
def collatz(x):
    if x == 1:
        print (int(x))
    elif (x%2==0):
        print (int(x))
        collatz(x/2)
    else:
        print(int(x))
        collatz((3*x)+1)

In [9]:
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2
1

In [11]:
#Question 5--
def binary(x):
    if x == 0:
        return 0
    elif x <= 0:
        print('Non negative numbers only')
    else:
        return (str(binary(x//2)) + str(x%2))
        
    
binary(0)
binary(1)

'01'

In [12]:
binary(3)

'011'

In [13]:
binary(9)

'01001'

In [ ]:
#Question 6
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        self.q = []
        self.capture = False
        
    def handle_starttag(self, tag, attrs):
         if tag in ('h1', 'h2'):
            self.capture = True
            
    def handle_endtag(self, tag):
        if tag in ('p', 'h1'):
            self.capture = False
    
    def handle_data(self, data):
        if self.capture:
            print(self.data)

In [ ]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
myparser = HeadingParser() 
myparser.feed(content)

In [14]:
#Question 8
import sqlite3
con = sqlite3.connect('ps2.db')
cur = con.cursor()
cur.execute("DROP TABLE IF EXISTS Countries")
cur.execute("CREATE TABLE Countries (City text, Country text, Season text, Temperature '(C)' float, Rainfall '(mm)' float)")

In [15]:
cur.execute("INSERT INTO Countries VALUES('Mumbai', 'India', 'Winter', '24.8', '5.9')")
cur.execute("INSERT INTO Countries VALUES('Mumbai', 'India', 'Spring', '28.4', '16.2')")
cur.execute("INSERT INTO Countries VALUES('Mumbai', 'India', 'Summer', '27.9', '1549.4')")
cur.execute("INSERT INTO Countries VALUES('Mumbai', 'India', 'Fall', '27.6', '346.0')")
cur.execute("INSERT INTO Countries VALUES('London', 'United Kingdom', 'Winter', '4.2', '207.7')")
cur.execute("INSERT INTO Countries VALUES('London', 'United Kingdom', 'Spring', '8.3', '169.6')")
cur.execute("INSERT INTO Countries VALUES('London', 'United Kingdom', 'Summer', '15.7', '157.0')")
cur.execute("INSERT INTO Countries VALUES('London', 'United Kingdom', 'Fall', '10.4', '218.5')")
cur.execute("INSERT INTO Countries VALUES('Cairo', 'Egypt', 'Winter', '13.6', '16.5')")
cur.execute("INSERT INTO Countries VALUES('Cairo', 'Egypt', 'Spring', '20.7', '6.5')")
cur.execute("INSERT INTO Countries VALUES('Cairo', 'Egypt', 'Summer', '27.7', '0.1')")
cur.execute("INSERT INTO Countries VALUES('Cairo', 'Egypt', 'Fall', '22.2', '4.5')")

In [16]:
cur.execute("SELECT * FROM Countries")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
# All the temperature data.

cur.execute("SELECT Temperature FROM Countries")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [18]:
# All the cities, but without repetition
cur.execute("SELECT DISTINCT City FROM Countries")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [19]:
#All the records for India
cur.execute("SELECT * FROM Countries WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [20]:
#All the Fall records
cur.execute("SELECT * FROM Countries WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [21]:
#The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cur.execute("SELECT City, Country, Season, Rainfall FROM Countries WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 346),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

In [22]:
#The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cur.execute("SELECT CIty, Country, Temperature FROM Countries WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

In [23]:
#The total annual rainfall for Cairo
cur.execute("SELECT SUM(Rainfall), City FROM Countries WHERE City = 'Cairo'")
cur.fetchall()

[(27.6, 'Cairo')]

In [24]:
#The total rainfall for each season
cur.execute("SELECT SUM(Rainfall), Season FROM Countries GROUP BY Season")
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

In [25]:
#QUESTION 9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print (words)

newwords = [str.upper(w) for w in words]
print (newwords)

newwords = [str.lower(w) for w in words]
print (newwords)

newwords = [len(w) for w in words]
print (newwords)

newwords = [[str.upper(w), str.lower(w), len(w)] for w in words]
print (newwords)

newwords = [[str.upper(w), str.lower(w), len(w)] for w in words if len(w) >= 4]
print (newwords)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
[['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['LAZY', 'lazy', 4]]